<div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
      <li>
        <a class="" href="{%url 'manageproducts' %}">
                      <i class="bi bi-flower3"></i>
                      <span>Products</span>
                  </a>
      </li>
      <li>
        <a class="" href="{% url 'manageusers' %}">
                      <i class="bi bi-flower3"></i>
                      <span>Users</span>
                  </a>
      </li>
      <li>
        <a class="" href="{%url 'adminviewreports'%}">
                      <i class="bi bi-flower3"></i>
                      <span>Reports</span>
                  </a>
      </li>

    </ul>
    <!-- sidebar menu end-->
  </div>